<ion-side-menus>
  <side-menu></side-menu>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-nav-view>
        <ion-nav-title>
          <h1 class="title">CREATE AN EVENT</h1>
        </ion-nav-title>


        <div class="has-header list">

          <ion-list>
            <div>
              <ion-item class="item-stable"
                        ng-click="toggleGroup(group)"
                        ng-class="{active: isGroupShown(group)}">
                <i class="icon pull-right" style="float:right" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
                &nbsp;
                <b>{{typeSelected}}</b>
              </ion-item>
              <ion-item class="item-accordion"
                        ng-repeat="type in eventType"
                        ng-show="isShown(type, group)" style="border-top: 0px" ng-click="toggleSelection(type, group)" >
                        <b>{{type}}</b>
              </ion-item>
              <ion-item class="item-accordion"
                        ng-repeat="type in eventType"
                        ng-show="isShown(type, group)" style="border-top: 0px" ng-click="toggleSelection(type, group)" >
                        <b>{{type}}</b>
              </ion-item>
            </div>
          </ion-list>
          <label class="item item-input">
            <span class="input-label">Date</span>
            <input type="date" ng-model="eventData.EventDate">
          </label>

          <label class="item item-input">
            <span class="input-label">Start time</span>
            <input type="time" ng-model="eventData.EventDateTimeStart">
          </label>
          <label class="item item-input">
            <span class="input-label">Start time</span>
            <input type="time" ng-model="eventData.EventDateTimeStart">
          </label>

          <label class="item item-input">
            <span class="input-label">End time</span>
            <input type="time" ng-model="eventData.EventDateTimeEnd">
          </label>

          <label class="item item-input">
            <input placeholder="Location" type="text" ng-autocomplete ng-model="result" options="options" details="details"/>
          </label>

          <label class="item item-input">
            <textarea placeholder="Description" ng-model="eventData.Description"></textarea>
          </label>

          <label>

            <ion-checkbox ng-model="filter.blue" style="" >Private</ion-checkbox>

          </label>


          <div>
            <button class="button button-block button-positive" ng-click="create()">
              CREATE
            </button>
          </div>
      </ion-nav-view>
    </ion-nav-bar>
  </ion-side-menu-content>
</ion-side-menus>
