<ion-view ng-init="getLoginStatus()" class="sign-up landing">
  <ion-content class="padding ">
    <div class="landing-content">
      <!-- Logo -->
      <div class="app-logo">
        <img src="svg\hambaSafeLogo.png">
      </div>

      <h3>Login with</h3>

      <!-- facebook login button -->
      <button class="button button-full button-light login-button" ng-click="fbLogin()">
        <i class="ion-social-facebook icon-l pull-left facebook-color "></i>
        <span>Facebook</span>
      </button>
      <button class="button button-full button-light login-button">
        <i class="ion-social-linkedin icon-l pull-left linkedin-color "></i>
        <span>LinkedIn</span>
      </button>

      <!-- Terms of use link -->
      <div class="conditions">
        <div>
          <a href="#" ui-sref="terms">View terms and conditions</a>
        </div>
        <div>
          <a href="#" ui-sref="about-us">About us</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
