<ion-view hide-nav-bar="true" view-title="Registration">
	<ion-header-bar class="bar bar-header top-toolbar">
		<!-- <div class="valign-outer"> -->
		<div>
			<h4>
				PROFILE
			</h4>
		</div>
		<!-- </div> -->
	</ion-header-bar>
  <ion-content class="register-wrapper has-header">
			<div class="">
				<form name="registrationForm" ng-submit="doRegister(signupForm.$valid)" novalidate>
					<div class="row">
hi
					</div>
					<div class="row">
					</div>
					<div class="row">
					</div>
					<div class="row">
					</div>
					<div class="row">
					</div>
					<div class="row">
					</div>
					<div class="row">
					</div>
				</form>
			</div>
  </ion-content>
</ion-view>

<!--
        <label class="item item-input item-floating-label">
					<span class="input-label">Firstname</span>
					<input type="text" placeholder="Firstname" ng-model="user.firstName" required/>
				</label>
        <label class="item item-input item-floating-label">
					<span class="input-label">Surname</span>
					<input type="text" placeholder="Surname" ng-model="user.lastName" required/>
				</label>
        <label class="item item-input item-floating-label">
          <input type="date" placeholder="Date of Birth" ng-model="user.dateOfBirth" required>
        </label>
        <ion-item class="item" ng-click="toggleGenderOpen()" ng-class="{active: isGenderOpen()}">
          Gender							
          <i class="icon pull-right" ng-class="isGenderOpen() ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
        </ion-item>
				<ion-checkbox class="item-checkbox-right item-accordion gender-group" ng-repeat="gender in genders" ng-show="isGenderOpen()" >{{ gender }}</ion-checkbox>

        <label class="item item-input item-floating-label">
					<span class="input-label">Cell number</span>
					<input type="tel" placeholder="Cell Number" ng-model="user.phoneNumber" required/>
				</label>
        <label class="item item-input item-floating-label">
					<span class="input-label">Email</span>
					<input type="email" placeholder="Email" ng-model="user.email" required/>
				</label>
        <label class="item item-input item-floating-label">
					<span class="input-label">Cell number</span>
					<input type="tel" placeholder="Cell Number" ng-model="user.phoneNumber" required/>
				</label>
        <label class="item item-input item-floating-label">
          <input type="email" placeholder="Confirm Email" ng-model="user.confirmEmail" required>
        </label>
        <div class="row">
          <button class="button button-positive" type="submit">Sign Up</button>
        </div>
-->
