<ion-view view-title="Search">
  <ion-content>

    <div class="button-bar bar-positive">
      <a class="button" ng-click="searchEvents()"><b>FIND</b></a>
    </div>
    
    <ion-list>
      <div>
        <ion-item class="item-stable"
                  ng-click="toggleGroup(group)"
                  ng-class="{active: isGroupShown(group)}">
          <i class="icon pull-right"  ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
          &nbsp;
          <b>{{typeSelected}}</b>
        </ion-item>
        <ion-item class="item-accordion"
                  ng-repeat="type in eventTypes"
                    ng-show="isShown(type, group)" style="border-top: 0px" ng-click="toggleSelection(type, group)" >
          <b>{{type}}</b>
        </ion-item>
      </div>
    </ion-list>

  	<div class="button-bar">
  		<a class="button" ng-class="activeSearch(0) ? 'button-positive' : null" ng-click="setActiveSearch(0)">
          <i class="icon ion-clock" ></i>
      </a>
  		<a class="button" href ng-class="activeSearch(1) ? 'button-positive' : null" ng-click="goMap()">
          <i class="icon ion-location" ></i>
      </a>
	</div>
  <div class="tiled-list">
    <div class="list">
      <a class="item item-avatar" href="#/app/event-detail/{{event.EventId}}" ng-class="" collection-repeat="event in eventsToList | orderBy: 'EventDateTimeStart'| filter: filterResults" >
        <img src="http://ionicframework.com/img/docs/stantz.jpg">
        <div>
          <h2>{{event.Name}}</h2>
          <h3>{{event.Description}}</h3>
          <h3>{{event.EventDateTimeStart}}</h3>
        </div>
      </a>
    </div>
  </div>

  </ion-content>
</ion-view>
