<ion-view view-title="Splash" hide-nav-bar="true">
  <ion-content class="valign-outer splash-wrapper">
    <button class="button button-icon button-clear ion-android-more-vertical menu-icon" menu-toggle="left"></button>
    <div class="valign-inner">
      <div class="splash-container">
        <img src="/img/hambasafe_app_icon_logo.png">
        <div class="splash-intro-one">
          <h3>
            Join the HambaSafe community
          </h3>
        </div>
        <div class="splash-intro-two">
          <h4>
            Create your profile
          </h4>
        </div>
        <div class="splash-intro-button">
          <button ng-click="goToLanding()" class="button button-light">
            Let's go!
          </button>
        </div>
      </div>
    </div>
    <div class="bar bar-footer">
      <div class="footer-link">
        <a ng-click="goToTerms()">Terms of Use</a>
      </div>
    </div>
  </ion-content>
</ion-view>
