<ion-view view-title="Terms of Use" ng-init="getLoginStatus()">
    <ion-content class="padding">
        <!-- Logo -->
        <div class="app-logo">
            <img src="img\logo.png">
        </div>

        <!-- Who -->
        <div>
            <h5>Who</h5>
            <p>Lorem ipsum dolor sit amet, id porro error eum, aeque legendos qualisque ei ius. Mel an possit corpora, iisque scripserit nec no. In vidit omnium eam, ne pro ridens liberavisse. Ex vim omnis noluisse.</p>
        </div>

        <!-- Why -->
        <div>
            <h5>Why</h5>
            <p>Ne postea detraxit senserit qui, ullum noluisse eu quo, eu vim officiis disputando appellantur. Ad vis eius graeci fabulas, usu ne dicunt epicurei. Augue nusquam molestiae mel ex. Vel in putant facilisis. Iisque euripidis ut nec.</p>
        </div>

        <!-- When -->
        <div>
            <h5>When</h5>
            <p>Cu exerci iracundia instructior sea, his ullum tation ex. Pro id assum nonumy euismod, quas falli admodum et vis. Ex duo nisl nominavi eligendi. In pro prima consetetur. Duo id clita dissentiunt instructior, ut nec populo iudicabit, nominavi probatus lobortis ius ex.</p>
        </div>


    </ion-content>
</ion-view>
