page-about {
  .app-logo {
    width: 50%;
    display:block;
    margin: 0 auto;
    max-width: 400px;
  }
  h5 {
    margin: 1em auto;
    text-decoration: underline;
  }
  p {
    text-align: center;
  }
}
