<!--
  Generated template for the InvitesReceived component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-header>
  <ion-toolbar primary>
    <ion-buttons start>
      <button (click)="goBack()">
        <ion-icon light name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Invites
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-list>
    <activity-item *ngFor="let activity of activities$ | async" [activity]="activity"></activity-item>
  </ion-list>
</ion-content>
