user-item {
  .rated { 
    color: $energized;//#FFD700;
  }
  .to-confirm{
    background-color: $calm;
    color: $light;
  }
  ion-item-sliding {
    item-inner {
      // border-bottom: 0; 
    } 
  }
}
