user-item {
  .rated { 
    color: $energized;//#FFD700;
  }
  .user-checked-in {
    background-color: map-get($colors, secondary);
    color: $light;
  }
  .to-confirm{
    background-color: $calm;
    color: $light;
  }
  ion-item-sliding {
    item-inner {
      // border-bottom: 0; 
    } 
  }
}
