<ion-toolbar class="icon-only" energized>
  <a class="clickable" menuToggle>
    <ion-icon light class="menu-icon" name="md-more"></ion-icon>
  </a>
  <ion-title style="color:white;">
    PROFILE
  </ion-title>
</ion-toolbar>
<ion-content>
    <form name="registrationForm" ng-submit="doRegister(signupForm.$valid)" novalidate>
      <ion-list class="borderless">
        <ion-item>
          <input name="profile-picture" class="profile-pic" id="profile-picture" type="file" placeholder="Profile Picture" ng-model="user.profilePicture" required/>
          <label for="profile-picture">Choose a file</label>
        </ion-item>
        <ion-item class="borderless">
          <ion-label floating>Firstname</ion-label>
          <ion-input type="text" [(ngModel)]="firstName" required></ion-input>
        </ion-item>
        <ion-item class="borderless">
          <ion-label floating>Surname</ion-label>
          <ion-input type="text" [(ngModel)]="lastName" required></ion-input>
        </ion-item>
        <ion-item class="borderless">
          <ion-label floating>Date of Birth</ion-label>
          <ion-datetime displayFormat="DD MMM YY" pickerFormat="DD MMM YY" [(ngModel)]="dateOfBirth"></ion-datetime>
        </ion-item>
        <!-- <ion-item ng-click="toggleGenderOpen()" ng-class="{active: isGenderOpen()}"> -->
        <!--   <div class="valign-outer"> -->
        <!--     <div class="valign-inner"> -->
        <!--       <p>Gender</p>  -->
        <!--       <i class="icon pull-right" ng-class="isGenderOpen() ? 'ion-chevron-up' : 'ion-chevron-down'"></i> -->
        <!--     </div> -->
        <!--   </div> -->
        <!--   <div ng-repeat="gender in genders" ng-show="isGenderOpen()"> -->
        <!--     <ion-checkbox class="item-checkbox-right item-accordion gender-group">{{ gender }}</ion-checkbox> -->
        <!--   </div> -->
        <!-- </ion-item> -->
        <ion-item class="borderless">
          <ion-label floating>Location</ion-label>
          <ion-input type="text" [(ngModel)]="location" required></ion-input>
        </ion-item>
        <ion-item class="borderless">
          <ion-label floating>Cell Number</ion-label>
          <ion-input type="tel" [(ngModel)]="mobileNumber" required></ion-input>
        </ion-item>
        <ion-item class="borderless">
          <ion-label floating>Email</ion-label>
          <ion-input type="email"  [(ngModel)]="email" required></ion-input>
        </ion-item>
        <ion-item class="borderless">
          <ion-label floating>Confirm Email</ion-label>
          <ion-input type="email"  [(ngModel)]="confirmEmail" required></ion-input>
        </ion-item>
        <ion-item class="borderless">
          <ion-label floating>Scan your ID or Driver's License</ion-label>
          <ion-input [(ngModel)]="identification" required></ion-input>
        </ion-item>
        <ion-item class="borderless">
          <ion-label floating>Read the Terms of Use</ion-label>
          <ion-input  [(ngModel)]="terms" required></ion-input>
        </ion-item>
      </ion-list>
    </form>
</ion-content>
<ion-toolbar position="bottom">
  <button full primary (click)="createUser()">
<!-- [disabled]="!validForm" -->
    Next
  </button>
</ion-toolbar>

<!--
        <label class="item item-input item-floating-label">
					<span class="input-label">Surname</span>
					<input type="text" placeholder="Surname" ng-model="user.lastName" required/>
				</label>
        <label class="item item-input item-floating-label">
          <input type="date" placeholder="Date of Birth" ng-model="user.dateOfBirth" required>
        </label>
        <ion-item class="item" ng-click="toggleGenderOpen()" ng-class="{active: isGenderOpen()}">
          Gender							
          <i class="icon pull-right" ng-class="isGenderOpen() ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
        </ion-item>
				<ion-checkbox class="item-checkbox-right item-accordion gender-group" ng-repeat="gender in genders" ng-show="isGenderOpen()" >{{ gender }}</ion-checkbox>

        <label class="item item-input item-floating-label">
					<span class="input-label">Cell number</span>
					<input type="tel" placeholder="Cell Number" ng-model="user.phoneNumber" required/>
				</label>
        <label class="item item-input item-floating-label">
					<span class="input-label">Email</span>
					<input type="email" placeholder="Email" ng-model="user.email" required/>
				</label>
        <label class="item item-input item-floating-label">
					<span class="input-label">Cell number</span>
					<input type="tel" placeholder="Cell Number" ng-model="user.phoneNumber" required/>
				</label>
        <label class="item item-input item-floating-label">
          <input type="email" placeholder="Confirm Email" ng-model="user.confirmEmail" required>
        </label>
        <div class="row">
          <button class="button button-positive" type="submit">Sign Up</button>
        </div>
-->
