page-registration {
  .toolbar-title {
    color: #FFF !important;
  }
  ion-item{
    height: 79px;
  }
  ion-item h2 {
    text-align: center; 
    color: #7f7f7f;
    cursor: pointer;
  }
  .clean  ion-label{
    color: #999 !important;
  }

}
