<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon color="light" name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="!userId">
      Home
      </span>
      <span *ngIf="!!userId">
        Profile
      </span>
    </ion-title>
    <!-- <ion-buttons end> -->
      <!-- <button ion-button icon-only (click)="goInvites()"> -->
      <!--   <ion-icon name="mail"></ion-icon> -->
      <!-- </button> -->
      <!-- <button ion-button icon-only (click)="goHome()"> -->
      <!--   <ion-icon name="home"></ion-icon> -->
      <!-- </button> -->
      <!-- <button ion-button icon-only (click)="goSearch()"> -->
      <!--   <ion-icon name="search"></ion-icon> -->
      <!-- </button> -->
    <!-- </ion-buttons> -->
  </ion-navbar>
  <ion-toolbar color="primary" class="profile-details">
    <ion-item color="primary" no-lines>
      <ion-avatar item-left> 
        <img src="{{ (user$ | async)?.profilePicture }}"/>
      </ion-avatar>
      <div>
        <ion-item color="primary" no-lines class="profile-row profile-name">
          <span>
            {{ (user$| async)?.firstName | Capitalize }} {{ (user$| async)?.lastName | Capitalize }}
          </span>
          <!-- <ion-icon item-right class="pull-right" name="md-create" (click)="goEditProfile()"></ion-icon> -->
          <ion-icon item-right color="light" name="logo-facebook"></ion-icon>
        </ion-item>
        <ion-item color="primary" no-lines class="profile-row">
          <span color="light">
            {{ formatDate((user$ | async)?.createdAt) }}
          </span>
        </ion-item>
        <ion-item color="primary" no-lines class="profile-row">
          <ion-icon *ngFor="let i of maxStars" [ngClass]="getIsRated(i)" name="star"></ion-icon>
        </ion-item>
      </div>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar *ngIf="!userId" color="primary" no-padding class="buttonbar activity-actions">
    <ion-buttons>
      <button ion-button icon-left (click)="goSearch()" full>
        <ion-icon name="search"></ion-icon>
        Join 
      </button>
      <button ion-button icon-left (click)="goCreate()" full>
        <ion-icon name="add"></ion-icon>
        Create
      </button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar primary no-padding> -->
  <!-- <div style="text-align:center;"> -->
  <!-- color:white; -->
  <!-- <ion-title> -->
  <!-- My Events -->
  <!-- </ion-title> -->
  <!-- </div> -->
  <!-- </ion-toolbar> -->
  <ion-toolbar class="action-bar">
    <ion-buttons class="split-three">
      <button ion-button [ngClass]="getFilterButtonClasses(0)" (click)="goActivityList(0)" block>
        <!-- <div class="button-number"> -->
        <!--   24 -->
        <!-- </div> -->
        <!-- <div class="button-title"> -->
        Upcoming
        <!-- </div> -->
      </button>
      <button ion-button [ngClass]="getFilterButtonClasses(1)" (click)="goActivityList(1)" block>
        <!-- <div class="button-number"> -->
        <!--   102 -->
        <!-- </div> -->
        <!-- <div class="button-title"> -->
        Joined
        <!-- </div> -->
      </button>
      <button ion-button [ngClass]="getFilterButtonClasses(2)" (click)="goActivityList(2)" block>
        <!-- <div class="button-number"> -->
        <!--   2 -->
        <!-- </div> -->
        <!-- <div class="button-title"> -->
        Created
        <!-- </div> -->
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <activity-item *ngFor="let activity of ((activities$ | async) | SearchFilter:queryFunc )" [activity]="activity"></activity-item>
</ion-content>
