<ion-header>
  <ion-toolbar color="primary" class="main-bar">
    <ion-buttons class="order-left" start>
      <button ion-button dark  icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button primary icon-only>
        <ion-icon isActive="true" name="home"></ion-icon>
      </button>
      <button ion-button dark icon-only (click)="loadSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="isFiltered" light>
      <ion-segment-button (click)="toggleView('public')" value="public">
        <!-- <ion-icon name="globe" item-left></ion-icon> -->
        Public
      </ion-segment-button>
      <ion-segment-button (click)="toggleView('friends')" class="square-corner" value="friends">
        <!-- <ion-icon name="people" item-left></ion-icon> -->
        Friends
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar primary>
    <ion-item class="no-border" no-lines>
      <ion-range primary min="2" max="18" step="2" snaps="true" pin="false" (ngModelChange)="sliderChange()" [(ngModel)]="searchDistance">
        <ion-icon range-left small>Closer</ion-icon>
        <ion-icon range-right small>Further</ion-icon>
      </ion-range>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="isEmpty">
  <!-- <div padding> -->
  <!-- </div> -->

<!-- <ion-grid> -->
<!--   <ion-row> -->
<!--     <ion-col width-50> -->

<!--     </ion-col> -->
<!--     <ion-col width-50> -->
<!--     </ion-col> -->
<!--   </ion-row> -->
<!-- </ion-grid> -->

  <!-- <ion-toolbar light class="buttonbar"> -->
  <!--   <button (click)="toggleView('public')" class="square-corner" [ngClass]="{active: isActive('public'), 'not-active': !isActive('public')}" clear block ion-row center> -->
  <!--     <ion-icon name="globe" item-left></ion-icon> -->
  <!--     Public -->
  <!--   </button> -->
  <!--   <button (click)="toggleView('friends')" class="square-corner" [ngClass]="{active: isActive('friends'), 'not-active': !isActive('friends')}" clear block ion-row center> -->
  <!--     <ion-icon name="people" item-left></ion-icon> -->
  <!--     Friends -->
  <!--   </button> -->
  <!-- </ion-toolbar> -->
  <!-- <ion-toolbar light> -->
  <!-- </ion-toolbar> -->
  <template ngSwitchCase="true">
    <div class="home-container valign-outer">
      <div class="valign-inner valign-mid-top">
        <ion-row>
          <ion-col width-20>
          </ion-col>
          <ion-col width-60>
            <div class="text-center">
              <h5 style="color:white">
              There are no new activities in your neighbourhood.
              </h5>
            </div>
          </ion-col>
          <ion-col width-20>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-20>
          </ion-col>
          <ion-col width-60>
            <div class="text-center">
              <p style="color:white">
              Would you like to create one?
              </p>
            </div>
          </ion-col>
          <ion-col width-20>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-20>
          </ion-col>
          <ion-col width-60>
            <div class="text-center">
              <button ion-button class="calm-button" (click)="goToCreate()">
                Sure!
              </button>
            </div>
          </ion-col>
          <ion-col width-20>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </template>
  <template ngSwitchDefault>
    <activity-item *ngFor="let activity of activitiesToRate$| async" [activity]="activity" mustRate="true"></activity-item>
    <activity-item *ngFor="let activity of activities$| async" [activity]="activity"></activity-item>
    <ion-fab>
      <button ion-fab (click)="goToCreate()" class="calm-button create-fab">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
  </template>
</ion-content>
