page-home {
  .home-container {
    height: 100%;
  }
  button {
    font-weight: 600; 
    letter-spacing: 0.1em;
  }
  scroll-content {
    background-color: $positive;
  }
  .create-fab{
    position:fixed;
    bottom: 2%;
    right:2%;
  }
  .calm-button{
    background-color: $calm;
  }

}
