<ion-view view-title="Registration" >
  <ion-content class="padding">

    <form name="registrationForm" ng-submit="doRegistration(signupForm.$valid)" novalidate>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="First Name" ng-model="user.FirstNames" required>
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Last Name" ng-model="user.LastName" required>
        </label>
        <label class="item item-input">
          <input type="date" placeholder="Date of Birth" ng-model="user.DateOfBirth" required>
        </label>
        <label class="item item-input item-select">
          <div class="input-label" >
            Gender
          </div>
          <select prompt="gender" ng-model="user.Gender">
            <option>Male</option>
            <option selected>Female</option>
            <option>Other</option>
          </select>
        </label>
        <label class="item item-input">
          <input type="tel" placeholder="Cell Number" ng-model="user.PhoneNumber" required>
        </label>
        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="user.EmailAddress" required>
        </label>
        <label class="item item-input">
          <input type="email" placeholder="Confirm Email" ng-model="user.ConfirmEmailAddress" required>
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="user.Password" required>
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Confirm Password" ng-model="user.ConfirmPassword" required>
        </label>
        <div class="row">
          <button class="button button-positive" type="submit">Sign Up</button>
        </div>
      </div>
    </form>

  </ion-content>
</ion-view>
