<ion-header>
  <ion-toolbar class="main-bar">
    <ion-buttons class="order-left" start>
      <button *ngIf="activeType == 'TIME'" dark  menuToggle>
        <ion-icon name="md-more"></ion-icon>
      </button>
      <button *ngIf="activeType != 'TIME'" (click)="toggleView('TIME')" dark clear>
        <ion-icon name="ios-arrow-back-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button dark (click)="goHome()" class="indent">
        <ion-icon name="md-pin"></ion-icon>
      </button>
      <button primary>
        <ion-icon isActive="true" name="md-search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar primary>
    <ion-buttons *ngIf="activeType == 'SEARCH'" start>
      <button (click)="toggleView('DISTANCE')">
        <ion-icon light name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="activeType">
  <template ngSwitchCase="TIME">
    <ion-item class="borderless">
			<ion-label>Activity Type</ion-label> <!-- replace tile with selected gender-->
			<ion-select [(ngModel)]="activityType" required>
				<ion-option value="">All</ion-option>
				<ion-option value="WALK">Walk</ion-option>
				<ion-option value="RUN">Run</ion-option>
				<ion-option value="CYCLE">Cycle</ion-option>
			</ion-select>
    </ion-item>
  <ion-toolbar class="buttonbar">
    <button (click)="toggleView('TIME')" class="square-corner" [ngClass]="{active: isActive('TIME'), 'not-active': !isActive('TIME')}" clear block ion-row center>
      <ion-icon name="ios-time-outline" item-left></ion-icon>
    </button>
    <button (click)="toggleView('DISTANCE')" class="square-corner" clear block ion-row center>
      <ion-icon name="md-pin" item-left></ion-icon>
    </button>
  </ion-toolbar>
  <ion-list>
    <activity-item *ngFor="let activity of activities$ | async" [activity]="activity"></activity-item>
  </ion-list>
  </template>
  <template ngSwitchCase="DISTANCE">
    <map-component #myMap [radius]="searchDistance"></map-component>
  </template>
  <template ngSwitchCase="SEARCH">
    <activity-item *ngFor="let activity of activities$ | async" [activity]="activity"></activity-item>
  </template>
</ion-content>

<ion-footer *ngIf="activeType=='DISTANCE'">
  <ion-toolbar>
    <ion-item class="no-border">
      <ion-range min="2" max="20" step="2" snaps="true" pin="false" value="{{searchDistance}}" [(ngModel)]="searchDistance" secondary>
      </ion-range>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar>
    <button full block primary (click)="searchRadius()">
      Go!
    </button>
  </ion-toolbar>
</ion-footer>
