<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button *ngIf="activeType == 'DISTANCE'" ion-button icon-only menuToggle (click)="menuOpened()">
        <ion-icon name="menu"></ion-icon>
      </button>
      <button *ngIf="activeType == 'SEARCH'" ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Search
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content [ngSwitch]="activeType">
  <template ngSwitchCase="DISTANCE">
    <div style="display:flex; height:100%; flex-direction:column;">
      <div style="display:flex;flex-grow:1;">
        <div style="display:block; width:100%; min-height:100%;">
          <map #myMap [radius]="searchDistance">
            <ion-fab *ngIf="isDevice" right bottom>
              <button ion-fab (click)="searchRadius()">
                Go!
              </button>
            </ion-fab>
          </map>
        </div>
      </div>
      <ion-toolbar style="align-self:flex-end" margin-bottom no-lines>
        <ion-item style="padding-right:64px;">
          <ion-range primary min="2" max="18" step="2" snaps="true" pin="false" (ngModelChange)="sliderChange()" [(ngModel)]="searchDistance">
            <ion-icon range-left small>{{searchDistance}}km</ion-icon>

            <ion-icon range-right small></ion-icon>
          </ion-range>
        </ion-item>
      </ion-toolbar>
    </div>
    <ion-fab *ngIf="!isDevice" right bottom>
      <button ion-fab (click)="searchRadius()">
        Go!
      </button>
    </ion-fab>
  </template>
  <template ngSwitchCase="SEARCH">
    <activity-item *ngFor="let activity of ( (activities$ | async) | SearchFilter:searchQuery:'eventType')" [activity]="activity"></activity-item>
    <ion-fab right bottom>
      <button ion-fab (click)="toggleView('DISTANCE')">
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-fab>
  </template>
</ion-content>
