/* Fonts */
@font-face {
  font-family: 'DINPro';
  src: url('/fonts/DINPro.otf') format('opentype');
}
@font-face {
  font-family: 'DINPro-Medium';
  src: url('/fonts/DINPro-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'DINPro-Black';
  src: url('/fonts/DINPro-Black.otf') format('opentype');
}

.app-logo {
  text-align: center;
}


* {
   font-family: 'DINPro-Medium' !important;
}

.app-logo > img {
  border-radius: 50%;
  height: 150px;
}

.landing {
  background: url(/img/landing.jpg) no-repeat;
  background-size: cover;
}

.landing ion-content
{
  background: rgba(255,255,255,0.6);
}

.landing-content h3
{
  font-family: 'montserrat';
  background: rgba(255,255,255,0.4);
  border-radius: 15px;
  padding: 6px;
  width: 200px;
  display: block;
  margin-left: auto;
  color: #4A4A4A;
  text-shadow: 2px 2px #E6E6E6;
  margin-right: auto;
}

$landing-icon-width: 42px;

.login-button {
  i::before {
    width: $landing-icon-width;
  }

  span {
    margin-left: -$landing-icon-width;
  }
}

.margin-left
{
  margin-left: 15px;
}
.margin-right
{
  margin-right: 15px;
}
.margin-top
{
  margin-top: 15px;
}
.margin-bottom
{
  margin-bottom: 15px;
}

.ion-android-add-circle {
  position: absolute !important;
  right: 20px;
  bottom: 20px;
  font-size: 50px;
}
.star-filled{
  color:gold;
}

ion-header-bar {
  background-color: #fff !important;
}
