.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.icon-l{
   font-size:32px !important;
 }
.facebook-color {
    color: #3b5998;
}
.linkedin-color {
    color: #007bb5;
}