.top-toolbar{
  background-color: $energized !important;
  padding-left: 1.5em;
  div {
    height: 100%;
    h4 {
      color: $light;
    }
  }
}
.register-wrapper {
  overflow-y: hidden;
  width: 100%;
}
