.top-toolbar{
  background-color: $energized !important;
  padding-left: 1.5em;
  div {
    height: 100%;
    h4 {
      color: $light;
    }
  }
}
.register-wrapper {
  overflow-y: hidden;
  width: 100%;
  .register-container {
    width: 100%;
    height:100%;
    form {
      height:100%;
      .row {
        height: 12%;
        ion-item {
          height: 100%;
          width: 100%; 
          border: 0;
          .valign-outer {
            height: 100%;
            p {
              font-size: 1.2em;
              color: #AAAAAA;
              padding: 0;
              margin:0;
              display:inline-block;
            }
          }
        }
        label {
          width: 100%; 
        }
        input {
          padding-left: 1em;
          width: 100%; 
          height: 100%;
          font-size:1.2em;
        }
        input:invalid{
          color: #AAAAAA;
        }
        .profile-pic {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }
        .profile-pic + label {
          font-size: 1.25em;
          font-weight: 700;
          color: white;
          background-color: black;
          display: inline-block;
          cursor: pointer;
        }

        .profile-pic:focus + label,
        .profile-pic + label:hover {
          background-color: $energized;
        }
        input:focus{
          border-left: 5px solid $positive; 
        }
      }
      .half-row {
        height: 6.5%;
      }
    }
  }
}
.bottom-toolbar{
  background-color: $energized !important;
  padding: 0px;
  button {
    width: 100%;  
    height: 100%;
  }
}
