.sign-up
{
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 99999999999999999999999999999;
	background: #8E8E8E;
}
.sign-up ion-content
{
	padding-top: 100px;
	display: block;
}
.sign-up ion-content p
{
	padding-top: 30px;
}
.sign-up ion-content button
{
	margin-top: 20px !important;
}
.sign-up ion-content p,
.conditions a
{
	color: #ffffff;
}
.conditions
{
	position: relative;
	top: 70px;
}
.conditions a:hover
{
	text-decoration: underline;
	line-height: 20px;
}
.sign-up img.profile
{
	height: 130px;
	width: 138px;
	border-radius: 70px;
}
