<ion-item [ngClass]="getClasses()" (click)="viewActivity()">
    <ion-avatar item-left>
      <img src="{{ activity.author.profilePicture}}">
    </ion-avatar>
  <ion-row>
    <div class="activity-location">
    {{  activity.startLocation.suburb }}, {{  activity.startLocation.city }}
    </div>
    <div *ngIf="!actionType" class="activity-date">
    {{  startFormatted }}
    </div>
  </ion-row>
  <ion-row>
    <ion-item class="borderless">
    <h1 style="font-size: 2rem;">
      {{ activity.name }}
    </h1>
    </ion-item>
  </ion-row>
  <ion-row>
    {{ getActivityType() }}
    &bull;
    {{ activity.distance }}
    &bull;
    {{ activity.intensity }}
  </ion-row>
  <ion-icon *ngIf="actionType == 'RATE'" class="must-rate" name="md-star" light item-right></ion-icon>
  <ion-icon *ngIf="actionType == 'VIEW'" class="been-invited" name="ios-arrow-forward" light item-right></ion-icon>
</ion-item>
