<ion-header>
  <ion-toolbar primary>
    <ion-buttons start>
      <button (click)="goBack()">
        <ion-icon light name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Invites
    </ion-title>
  </ion-toolbar>
  <ion-toolbar primary>
    <ion-segment light [(ngModel)]="viewType">
      <ion-segment-button value="RECEIVED">
        Received
      </ion-segment-button>
      <ion-segment-button value="SENT">
        Sent
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content primary>
  <div [ngSwitch]="viewType">
    <ion-list *ngSwitchCase="'RECEIVED'">
      <activity-item *ngFor="let activity of activityInvitesIn$ | async" [activity]="activity"></activity-item>
    </ion-list>
    <ion-list *ngSwitchCase="'SENT'">
      <activity-item *ngFor="let activity of activityInvitesOut$ | async" [activity]="activity"></activity-item>
    </ion-list>
  </div>
</ion-content>
