<ion-header>
  <ion-toolbar class="main-bar" color="primary">
    <ion-buttons start>
      <button ion-button icon-only dark (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons *ngIf="!isAuthor" end>
      <button ion-button icon-only dark class="indent" (click)="goHome()">
        <ion-icon name="pin"></ion-icon>
      </button>
      <button ion-button icon-only dark (click)="goSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons  *ngIf="isAuthor" end>
      <button ion-button icon-only (click)="editActivity()">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only dark class="indent" (click)="goHome()">
        <ion-icon name="pin"></ion-icon>
      </button>
      <button ion-button icon-only dark (click)="goSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [ngSwitch]="ratingRequired()">
  <template ngSwitchCase="false">
    <ion-list>
      <activity-item detailed="true" [activity]="activity$ | async"></activity-item>
    </ion-list>
    <div>
      <p>
      {{ (activity$ | async)?.description }}
      </p>
    </div>
    <ion-item *ngIf="isAuthor" class="invite-button" no-lines>
      <button ion-button icon-only (click)="inviteUsers()" primary>
        Invite Hambaggers!
      </button>
    </ion-item>
  </template>
  <template ngSwitchDefault>
    <ion-list>
      <ion-item>
        <ion-row text-center>
          <ion-col>
            Activity Rating
          </ion-col>
        </ion-row>
        <ion-row text-center>
          <ion-col *ngFor="let i of maxStars" width-20 style="padding: 0;">
            <button ion-button icon-only full [ngClass]="getActivityRating(i)" style="height: 50px" (click)="setActivityRating(i)"> 
              <ion-icon style="font-size: 5rem;" name="star"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row text-center>
          <ion-col>
            Group Rating
          </ion-col>
        </ion-row>
        <ion-row text-center>
          <ion-col *ngFor="let i of maxStars" width-20 style="padding: 0;">
            <button ion-button icon-only full [ngClass]="getGroupRating(i)" style="height: 50px" (click)="setGroupRating(i)"> 
              <ion-icon style="font-size: 5rem;" name="star"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
    <ion-list no-lines>
      <user-item *ngFor="let user of users$ | async" [user]="user" [mustRate]="true"></user-item>
    </ion-list>
  </template>
</ion-content>
<ion-footer>
  <ion-toolbar calm class="main-bar">
    <button ion-button icon-only *ngIf="!mustRate" (click)="joinActivity()" [disabled]="(activity$ | async)?.isAttending" full primary>
      Join!
    </button>
    <button ion-button icon-only *ngIf="mustRate" (click)="rateActivity()" [disabled]="activityRating == 0" full primary>
      Rate!
    </button>
  </ion-toolbar>
</ion-footer>

