<ion-header>
  <ion-navbar color="primary">
    <!-- <ion-buttons start> -->
    <!--   <button ion-button icon-only (click)="goBack()"> -->
    <!--     <ion-icon name="arrow-back"></ion-icon> -->
    <!--   </button> -->
    <!-- </ion-buttons> -->
    <ion-buttons *ngIf="!isAuthor" end>
      <button ion-button icon-only dark class="indent" (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
      <button ion-button icon-only dark (click)="goSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons  *ngIf="isAuthor" end>
      <button [disabled]="cannotEdit()" *ngIf="isAuthor" ion-button icon-only (click)="inviteUsers()" primary>
        <ion-icon name="person-add"></ion-icon>
      </button>
      <button ion-button icon-only (click)="editActivity()" [disabled]="cannotEdit()">
        <ion-icon name="create"></ion-icon>
      </button>
      <!-- <button ion-button icon-only dark class="indent" (click)="goHome()"> -->
      <!--   <ion-icon name="home"></ion-icon> -->
      <!-- </button> -->
      <!-- <button ion-button icon-only dark (click)="goSearch()"> -->
      <!--   <ion-icon name="search"></ion-icon> -->
      <!-- </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content [ngSwitch]="ratingRequired()">
  <ion-fab top center edge>
    <button ion-fab mini color="danger" (click)="viewMap()">
      <ion-icon name="pin"></ion-icon>
    </button>
  </ion-fab>
  <template ngSwitchCase="false">
    <!-- <ion-list> -->
    <!--   <activity-item detailed="true" [activity]="(activity$ | async)"></activity-item> -->
    <!-- </ion-list> -->
    <ion-row class="name-header" margin-top>
      <ion-item class="borderless">
        <h1 style="font-size: 2.5rem;">
          {{ activity.name }}
        </h1>
      </ion-item>
    </ion-row>
    <ion-row padding-horizontal class="location-header">
      <ion-col>
        <div class="activity-location" style="text-overflow: ellipsis; overflow: hidden; font-size: 1.5rem;">
          <span *ngIf="!!activity.startLocation.suburb">{{ activity.startLocation.suburb }},</span><span> {{  activity.startLocation.city }}</span>
          <!-- <span> -->
          <!--   <a item-right href="https://map.what3words.com/{{ (activity$ | async)?.startLocation.tileWords }}"> -->
          <!--     ({{ (activity$ | async)?.startLocation.tileWords }}) -->
          <!--   </a> -->
          <!-- </span> -->
        </div>
      </ion-col>
    </ion-row>
    <div class="activity-detail-container" padding>
        <ion-row>
          <ion-col>
            <p class="activity-description">
              {{ (activity$ | async)?.description }}
            </p>
          </ion-col>
        </ion-row>
        <!-- <ion-row> -->
        <!--   <ion-col> -->
        <!--     <p> -->
        <!--     The meeting spot is at --> 
        <!--     </p> -->
        <!--   </ion-col> -->
        <!-- </ion-row> -->
    </div>
    <ion-row>
      <ion-col>
        <p class="time-header">
        {{ formatDate((activity$ | async)?.startDate.iso) }}
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="detail-row">
      <ion-col width-30 text-center>
        {{ activity?.eventType }}
      </ion-col>
      <ion-col width-10 text-center>
        &bull;
      </ion-col>
      <ion-col width-20 text-center>
        {{ activity?.distance }} km
      </ion-col>
      <ion-col width-10 text-center>
        &bull;
      </ion-col>
      <ion-col width-30 text-center>
        {{ activity?.intensity }}
      </ion-col>
    </ion-row>
    <ion-list no-lines>
      <user-item *ngFor="let user of users$ | async" [user]="user"></user-item>
    </ion-list>
  </template>
  <template ngSwitchDefault>
    <ion-list>
      <ion-item>
        <ion-row text-center>
          <ion-col>
            Activity Rating
          </ion-col>
        </ion-row>
        <ion-row text-center>
          <ion-col *ngFor="let i of maxStars" width-20 style="padding: 0;">
            <button ion-button icon-only full [ngClass]="getActivityRating(i)" style="height: 50px" (click)="setActivityRating(i)"> 
              <ion-icon style="font-size: 5rem;" name="star"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row text-center>
          <ion-col>
            Group Rating
          </ion-col>
        </ion-row>
        <ion-row text-center>
          <ion-col *ngFor="let i of maxStars" width-20 style="padding: 0;">
            <button ion-button icon-only full [ngClass]="getGroupRating(i)" style="height: 50px" (click)="setGroupRating(i)"> 
              <ion-icon style="font-size: 5rem;" name="star"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
    <ion-list no-lines>
      <user-item *ngFor="let user of users$ | async" [user]="user" [mustRate]="true"></user-item>
    </ion-list>
  </template>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button ion-button icon-only *ngIf="!mustRate" (click)="joinActivity()" [disabled]="(activity$ | async)?.isAttending" full primary>
      Join!
    </button>
    <button ion-button icon-only *ngIf="mustRate" (click)="rateActivity()" [disabled]="activityRating == 0" full primary>
      Rate!
    </button>
  </ion-toolbar>
</ion-footer>

